.container{
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

h1{
    font-size: 3rem;
    color: #fff;

}

input{
    padding: 10px;
    border-radius: 20px 0px 0px 20px;
    border: none;
    max-width: 300px;
    width: 60%;
    outline: none;
    margin-top: 20px;
}

button{
    background-color: rgb(255, 176, 28);
    border: none;
    padding: 10px;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    
}

button:hover{
    background-color: rgb(255, 210, 125);
}